# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
venv/
env/
model_saves/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files - You should never commit large raw data to Git!
*.csv
*.xlsx
*.parquet
*.pkl
*.h5
*.zip
data/
sandbox/

# Secrets and environment variables
.env
credentials.json

# IDE and OS-specific files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Models
*.pt
*.pth
*.ckpt
# Exclude training artifacts and intermediate model directories
artifacts/
notebooks/artifacts/
notebooks/lightning_logs/

# Figures
# figures/
